#balance-title {
  text-align: center;
}

#balance-title h1 {
  font-size: 1.6rem;
  color: #000;
}

#balance-title p {
  font-size: 1.2rem;
  color: rgb(140, 140, 140);
}

#balance-box {
  background: rgb(236, 236, 236);
  padding: 20px;
  border-radius: 4px;
  border: 1px dashed rgb(148, 148, 255);
}

#btn-backtohome {
  background: rgb(34, 34, 141);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 1rem;
  border: none;
  color: white;
}

#btn-backtohome:hover {
  background: rgb(70, 70, 189);
  cursor: pointer;
}
