#page-notfound {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: whitesmoke;
  z-index: 100;
}

#notfound-body {
  justify-content: center;
  margin: auto;
  width: 800px;
  padding: 50px;
  text-align: center;
}

.notfound-img {
  margin-top: -20px;
  height: 400px;
}

#notfound-body h1 {
  margin-top: -50px;
  color: rgb(65, 65, 202);
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#notfound-body p {
  color: rgb(140, 140, 140);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
